:root {
  --main-background: #161910;
  --secondary-background: #083d77;
  --accent1: #95190c;
  --accent2: #02a9ea;
  --text-color: #9dbabe;
}
* {
  margin: 0;
  list-style: none;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  background-color: var(--main-background);
}

/*---------------------Navbar-----------------------------------------------*/
.navbar {
  display: flex;
  background-color: var(--secondary-background);
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
}
.navbar.homeButton {
  justify-self: stretch;
  cursor: pointer;
  object-fit: contain;
}
img.homeButton {
  max-width: 200px;
  max-height: 100px;
}
.navbar .navLinks {
  padding: 0px 5px;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #95190c; */
}
.navLinks .browseButton {
  padding: 10px 5px;
  border-left: 2px solid #082f5a;
}
.navLinks .makeButton {
  padding: 10px 5px;
  border-left: 2px solid #082f5a;
}

.navbar .login_signup {
  align-self: flex-end;
  justify-self: flex-end;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #02a9ea;
}
.searchBar {
  padding: 10px;
}
